.mainheading{
    text-align: center;
    font-size: xx-large;
    color: white;
}

  body {
    background-color: white;
}

 body {
    font-family: Arial, Helvetica, sans-serif;
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3;
}

li {
    float: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 7px;
    text-decoration: none;
    font-size: x-large
}




li a {
    color: white;
}

p {
    text-align: center;
    font-size: larger;
}

.dogo img{
position: absolute;
top: 55%;
left: 30%;
height:40%;
width: 40%;
    
}