 body {
    font-family: Arial, Helvetica, sans-serif;
}

.mainheading{
    text-align: center;
    font-size: xx-large
}

#section1{
    background-color: #ffcc99;
}

#section2{
    background-color: #ff9999;
}

#section3{
    background-color: #9999ff;
}

#section4{
    background-color: #00ffcc;
}

.section{
    color: black;
}