 body {
    font-family: Arial, Helvetica, sans-serif;
}

.mainheading{
    text-align: center;
    font-size: xx-large
}

#section1{
    background-color: lightblue;
}

#section2{
    background-color: lightblue;
}

#section3{
    background-color: lightblue;
}

#section4{
    background-color: lightblue;
}

.section{
    color: black;
}